html{
  height:100%;
}
body {
  margin: 0;
  background: #333;
  color: #ccc;
  height: 100%;
  
  font-family: "Courier New", Courier, monospace;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  flex: 1 0 auto;
}

.container {
  margin-top: 5vh;
  text-align: center;
}
.container:first-child {
  margin-top: 20vh;
}

footer {
  flex: none;
  padding: 1.2em;
  text-align: center;
}

.main-picture {
  height: 200px;
  border-radius: 32px;
}

a.no-highlighting {
  text-decoration: none;
  color: inherit;
}

a.fab, a.fas, a.far {
  text-decoration: none;
  color: inherit;
  font-size: 4em;
  margin: 0.2em;
}

a.fab:hover, a.fas:hover, a.far:hover {
  color: #fff;
}