html{
  height:100%;
}
body {
  margin: 0;
  background: #333;
  color: #ccc;
  height: 100%;
  
  font-family: "Courier New", Courier, monospace;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  flex: 1 0 auto;
}

.container {
  margin: 8vh 0;
  text-align: center;
}
.container:first-child {
  margin-top: 15vh;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

footer {
  flex: none;
  padding: 1.2em;
  text-align: center;
}

.main-picture {
  max-height: 200px;
  max-width: 70vw;
  object-fit: contain;
  border-radius: 16%;
}

a.no-highlighting {
  text-decoration: none;
  outline: none;
  color: inherit;
  display: inline-block;
  height: 0;
}

.svg-icon-box {
  position: relative;
  display: inline-block;
  margin: 2vmin 2vmin;
}
.svg-icon-box, .svg-icon-box img {
  width: 4em;
  height: 4em;
  max-width: 40vw;
  opacity: 0.8;
}
.svg-icon-box img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}
.svg-icon-box img:hover,
.svg-icon-box a:focus img {
  opacity: 1;
}