html, body {
  background: #333;
  color: #ccc;
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a {
	text-decoration: none;
	color: inherit;
	font-size: 4em;
	margin: 0.2em;
}

a:hover {
	color: #fff;
}